<!DOCTYPE html>
<html>
<title>ImmiGranted</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
  <body>
   <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">ImmiGranted</h1>
      <p class="w3-xlarge">Helping you maximize your chances of US Permanent Work Visa Acceptance</p>
        <form role="form" method='POST' action='/recommendation'>
        <div class="form-group">
            <select name = "admit_class" id="admit_class" width="200" method="GET">
            <option selected="selected" value = ''>Do you currently have a temporary visa?</option>
            {% for class in admit_class_list %}
                <option value = "{{ class }}">{{ class }}</option>
            {% endfor %}
            </select>
            &nbsp;&nbsp;
            <!--<select name = "citizen_country" id="citizen_country" width="200" method="GET">
            <option selected="selected" value = ''>In what country do you have citizenship?</option>
            {% for country in citizen_country_list %}
                <option value = "{{ country }}">{{ country }}</option>
            {% endfor %}
            </select>-->
        </div>
        <div class="form-group" style="padding:10px;">
            <select name = "edu_level" id="edu_level" width="200" method="GET">
            <option selected="selected" value = ''>What's your education level?</option>
            {% for level in education_level_list %}
                <option value = "{{ level }}">{{ level }}</option>
            {% endfor %}
            </select>
            &nbsp;&nbsp;
            <!--<select name = "work_state" id="work_state" width="200" method="GET">
            <option selected="selected" value = ''>In what state will you be working?</option>
            {% for state in state_list %}
                <option value = "{{ state }}">{{ state }}</option>
            {% endfor %}
            </select>-->
        </div>
        <div class="form-group" style="padding:10px;">
            <select name = "sector" id="sector" width="200" method="GET">
            <option selected="selected" value = ''>What NAICS sector do you work in?</option>
            {% for sectorid in sector_list %}
                <option value = "{{ sectorid }}">{{ sectorid }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" style="padding:10px;">
            <!--<select name = "business_size" id="business_size" width="200" method="GET">
            <option selected="selected" value = ''>How large is your employer?</option>
                <option value = "micro"> Micro (less than 6 Employees) </option>
                <option value = "small"> Small (7-100 Employees) </option>
                <option value = "medium"> Medium (101-250 Employees) </option>
                <option value = "large"> Large (251-1000 Employees) </option>
                <option value = "enterprise"> Enterprise (more than 1000 Employees) </option>
            </select>-->
            &nbsp;&nbsp;
            <select name = "agent_used" id="agent_used" width="200" method="GET">
            <option selected="selected" value = ''>Did you use an agent?</option>
                <option value = "yes"> Yes </option>
                <option value = "no"> No </option>
            </select>
        </div>
        <button type="submit">When Should I Apply?</button>
      </form>
      </header>
</body>